Package: com.chinapyg.lookinloader
Name: LookinLoader
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: creantan
Author: creantan
Section: Tweaks
