Package: com.chinapyg.lookinloader
Name: LookinLoader
Depends: mobilesubstrate, preferenceloader, applist
Version: 1.0.4
Architecture: iphoneos-arm
Description: An awesome Lookin Loader for iOS8~iOS12!(https://www.chinapyg.com)
Maintainer: creantan/P.Y.G
Author: creantan/P.Y.G
Section: Tweaks
Homepage: https://www.chinapyg.com
Icon: file:///Library/PreferenceLoader/Preferences/lookin@2x.png
